<!DOCTYPE html>
<html>
<head>

<link rel="shortcut icon" href="https://mslreports.jpl.nasa.gov/surface/data/surface/143/0/index.ico">
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="apple-touch-icon" href="https://mslreports.jpl.nasa.gov/surface/data/surface/143/0/iOS-icon.png" />
<link rel="apple-touch-startup-image" href="https://mslreports.jpl.nasa.gov/surface/data/surface/143/0/iOS-startup.png" />
<title>Seq Room Clock</title>

<style type="text/css">
.resizable-text-left {
   font-family:Arial;
   padding:10px;
   font-size:60px;
   vertical-align:top;
   margin:1px;
   width:45%;
   background-color:#EEE;
   border-width: 1px 0 1px 1px;
   border-style: solid;
   border-color: #666;
 }

.resizable-text-right {
   font-family:Arial;
   padding:10px;
   font-size:60px;
   margin:1px;
   width:45%;
   border-width: 1px 1px 1px 0;
   border-style: solid;
   border-color: #666;
 }

.resizable-text-sol {
   font-family:Arial;
   padding:10px;
   font-size:85px;
   margin:1px;
   width:45%;
   border-width: 1px 1px 1px 0;
   border-style: solid;
   border-color: #666;
 }

   table, td{
     border-collapse:collapse;
   }
</style>

<script type="text/javascript">
function updateClock (){
  var currentTime = new Date ();
  
  //Get the day for the updating clock
  var currentDay = currentTime.getDay ();

  var dayFull;
  var dayShort;

  if (currentDay == 0){
    dayFull = "Sunday";
    dayShort = "Sun";
  }

  if (currentDay == 1){
    dayFull = "Monday";
    dayShort = "Mon";
  }

  if (currentDay == 2){
    dayFull = "Tuesday";
    dayShort = "Tue";
  }

  if (currentDay == 3){
    dayFull = "Wednesday";
    dayShort = "Wed";
  }

  if (currentDay == 4){
    dayFull = "Thursday";
    dayShort = "Thu";
  }

  if (currentDay == 5){
    dayFull = "Friday";
    dayShort = "Fri";
  }

  if (currentDay == 6){
    dayFull = "Saturday";
    dayShort = "Sat";
  }


  //Get the month for the updating clock
  var currentMonth = currentTime.getMonth ();

  //Adjust for zero month start
  currentMonth = currentMonth + 1;

  var currentMonthPadded = ( currentMonth < 10 ? "0" : "" ) + currentMonth;


  var monthFull;
  var monthShort;

  if (currentMonth == 1){
    monthFull = "January";
    monthShort = "Jan";
  }

  if (currentMonth == 2){
    monthFull = "February";
    monthShort = "Feb";
  }

  if (currentMonth == 3){
    monthFull = "March";
    monthShort = "Mar";
  }

  if (currentMonth == 4){
    monthFull = "April";
    monthShort = "Apr";
  }

  if (currentMonth == 5){
    monthFull = "May";
    monthShort = "May";
  }

  if (currentMonth == 6){
    monthFull = "June";
    monthShort = "Jun";
  }

  if (currentMonth == 7){
    monthFull = "July";
    monthShort = "Jul";
  }

  if (currentMonth == 8){
    monthFull = "August";
    monthShort = "Aug";
  }

  if (currentMonth == 9){
    monthFull = "September";
    monthShort = "Sep";
  }

  if (currentMonth == 10){
    monthFull = "October";
    monthShort = "Oct";
  }

  if (currentMonth == 11){
    monthFull = "November";
    monthShort = "Nov";
  }

  if (currentMonth == 12){
    monthFull = "December";
    monthShort = "Dec";
  }


  //Get the date for the updating clock
  var currentDate = currentTime.getDate ();

  var currentDatePadded = ( currentDate < 10 ? "0" : "" ) + currentDate;


  //Get the year for the updating clock
  var currentYear = currentTime.getFullYear ();

  var yearFull = currentYear;

  //Get 2-digit year -- this will only work until 2099
  var yearShort = currentYear - 2000;

  //Padding for 2-digit year -- only needed for dates before 2010
  yearShort = ( yearShort < 10 ? "0" : "" ) + yearShort;


  //Get the hours for updating clock
  var currentHours = currentTime.getHours ();
  
  //Get the minutes for updating clock
  var currentMinutes = currentTime.getMinutes ();
  
  //Get the secconds for updating clock
  var currentSeconds = currentTime.getSeconds ();

  // Choose either "AM" or "PM" as appropriate
  var timeOfDay = ( currentHours < 12 ) ? "AM" : "PM";

  // Convert the hours component to 12-hour format if needed
  var current12Hours = currentHours;
  current12Hours = ( current12Hours > 12 ) ? current12Hours - 12 : current12Hours;

  // Convert an hours component of "0" to "12"
  current12Hours = ( current12Hours == 0 ) ? 12 : current12Hours;


  // Pad the hours, minutes and seconds with leading zeros, if required
  currentHours = ( currentHours < 10 ? "0" : "" ) + currentHours;
  currentMinutes = ( currentMinutes < 10 ? "0" : "" ) + currentMinutes;
  currentSeconds = ( currentSeconds < 10 ? "0" : "" ) + currentSeconds;


  //Get the UTC year for the updating clock
  var currentUTCYear = currentTime.getUTCFullYear ();

  //Get the number of milliseconds since midnight Jan 1, 1970 UTC
  var currentUNIXtime = currentTime.getTime ();

  //Calculate DOY
  var currentUTCDOY = Math.floor((currentUNIXtime - Date.UTC(currentUTCYear,0,0))/(24*60*60*1000));

  if (currentUTCDOY < 100){
  if (currentUTCDOY < 10){
    currentUTCDOY = "0" + currentUTCDOY;  
  }
  currentUTCDOY = "0" + currentUTCDOY;
  }

  //Get the UTC hours for updating clock
  var currentUTCHours = currentTime.getUTCHours ();
  
  //Get the UTC minutes for updating clock
  var currentUTCMinutes = currentTime.getUTCMinutes ();
  
  //Get the UTC secconds for updating clock
  var currentUTCSeconds = currentTime.getUTCSeconds ();

  // Pad the UTC hours, minutes and seconds with leading zeros, if required
  currentUTCHours = ( currentUTCHours < 10 ? "0" : "" ) + currentUTCHours;
  currentUTCMinutes = ( currentUTCMinutes < 10 ? "0" : "" ) + currentUTCMinutes;
  currentUTCSeconds = ( currentUTCSeconds < 10 ? "0" : "" ) + currentUTCSeconds;


  //Get the ISO week number (http://www.jslab.dk/library/Date.getISOWeek)

    var y = currentTime.getUTCFullYear();
    var m = currentTime.getUTCMonth() + 1;
    var d = currentTime.getUTCDate();
    // If month jan. or feb.
    if (m < 3) {
      var a = y - 1;
      var b = (a / 4 | 0) - (a / 100 | 0) + (a / 400 | 0);
      var c = ( (a - 1) / 4 | 0) - ( (a - 1) / 100 | 0) + ( (a - 1) / 400 | 0);
      var s = b - c;
      var e = 0;
      var f = d - 1 + 31 * (m - 1);
    }
    // If month mar. through dec.
    else {
      var a = y;
      var b = (a / 4 | 0) - ( a / 100 | 0) + (a / 400 | 0);
      var c = ( (a - 1) / 4 | 0) - ( (a - 1) / 100 | 0) + ( (a - 1) / 400 | 0);
      var s = b - c;
      var e = s + 1;
      var f = d + ( (153 * (m - 3) + 2) / 5 | 0) + 58 + s;
    }
    var g = (a + b) % 7;
    // ISO Weekday (0 is monday, 1 is tuesday etc.)
    var d = (f + g - e) % 7;
    var n = f + 3 - d;
    if (n < 0){
      var w = 53 - ( (g - s) / 5 | 0);
    }
    else if (n > 364 + s){
      var w = 1;
    }
    else{
      var w = (n / 7 | 0) + 1;
    };

  var currentISOWeek = ( w < 10 ? "0" : "" ) + w;


  //Get the timezone offset
  var timezoneOffset = currentTime.getTimezoneOffset();
  timezoneOffset = timezoneOffset/60;

  if (timezoneOffset == 7){
    var timeZone = "PDT"; 
  } 
  else if (timezoneOffset == 8){
    var timeZone = "PST";
  }
  else {
    var timeZone = "";
  }

  var timezoneOffsetString = "0000";  

  if (timezoneOffset != 0){
    var timezoneOffsetString = "0" + timezoneOffset*100;
  } 

  var landingUNIX = 1344230212.090; //2012-219T05:16:52
  var landingSCLK = 397502081.314;
  var beginSol00000SCLK = 397446468.740;
        
  var SCLKoffset = landingUNIX - landingSCLK;
  var MarsTimeRatio = 1.02749125;
        
  var MSLtime = (new Date().getTime() / 1000) - SCLKoffset;
  var MSLtimeValue = (new Date().getTime() / 1000) - SCLKoffset;

        
  if (MSLtime < landingSCLK) {
    MSLtime = landingSCLK - MSLtime;
    var days = Math.floor(MSLtime/(24*60*60));
    var hours = Math.floor((MSLtime/(60*60))-(days*24));
    var minutes = Math.floor((MSLtime/(60))-(days*24*60)-(hours*60));
    var seconds = Math.floor(MSLtime-(days*24*60*60)-(hours*60*60)-(minutes*60));
          
    var MSLoutput = "Landing - " + days + ((days == 1) ? " day " : " days ") + ((hours < 10) ? "0" : "") + hours + ((minutes < 10) ? ":0" : ":") + minutes + ((seconds < 10) ? ":0" : ":") + seconds;
              
  } else {
    MSLtime = (MSLtime - beginSol00000SCLK)/MarsTimeRatio;
    var sols = Math.floor(MSLtime/(24*60*60));
    var hours = Math.floor((MSLtime/(60*60))-(sols*24));
    var minutes = Math.floor((MSLtime/(60))-(sols*24*60)-(hours*60));
    var seconds = Math.floor(MSLtime-(sols*24*60*60)-(hours*60*60)-(minutes*60));
          
    var MSLoutput = "Sol " + ((sols < 10) ? "0000" : ((sols < 100) ? "000" : ((sols < 1000) ? "00" : ((sols < 10000) ? "0" : "" )))) + sols + " " + ((hours < 10) ? "0" : "") + hours + ((minutes < 10) ? ":0" : ":") + minutes + ((seconds < 10) ? ":0" : ":") + seconds + " LMST";
    var MSLsol = "Sol " + ((sols < 10) ? "0000" : ((sols < 100) ? "000" : ((sols < 1000) ? "00" : ((sols < 10000) ? "0" : "" )))) + sols;
    var MSLlmst = ((hours < 10) ? "0" : "") + hours + ((minutes < 10) ? ":0" : ":") + minutes + ((seconds < 10) ? ":0" : ":") + seconds + " LMST";
            
  }


  var SCLKvalue = Math.floor(MSLtimeValue - 1658);
  var SCLKstring = "(SCLK = " + SCLKvalue + ")";

  // Compose the string for display
  var fullDateString = dayFull + ", " + monthFull + " " + currentDate + ", " + yearFull;
  var mmyyddddDateString = currentMonthPadded + "/" + currentDatePadded + "/" + yearFull;

  var localDate = fullDateString + " (" + mmyyddddDateString + ")"
  
  var local24TimeString = currentHours + ":" + currentMinutes + ":" + currentSeconds;
  var local12TimeString = current12Hours + ":" + currentMinutes + ":" + currentSeconds + " " + timeOfDay;

  var localTime = local12TimeString + " = " + local24TimeString + " " + timeZone + " (UTC-" + timezoneOffsetString + ")"

  var UTCTimeString = currentUTCYear + "-" + currentUTCDOY + "T" + currentUTCHours + ":" + currentUTCMinutes + ":" + currentUTCSeconds + "  ---  Week " + currentISOWeek;

  var ISOdateString = yearFull + "-" + currentMonthPadded + "-" + currentDatePadded;

  // Update the time display
  var text1=document.createTextNode(String(localDate));
  var lb1=document.createElement("BR");
  var text2=document.createTextNode(String(localTime));
  var lb2=document.createElement("BR");
  var lb3=document.createElement("BR");
  var text3=document.createTextNode(String(UTCTimeString));
  var lb4=document.createElement("BR");
  var lb5=document.createElement("BR");
  var text4=document.createTextNode(String(MSLoutput));
  var lb6=document.createElement("BR");
  var text5=document.createTextNode(String(SCLKstring));
  var lb7=document.createElement("BR");
  var text6=document.createTextNode(String(MSLsol));
  var lb8=document.createElement("BR");
  var text7=document.createTextNode(String(MSLlmst));



//  var display=document.getElementById("clock");
//  display.appendChild(text1);
//  display.appendChild(lb1);
//  display.appendChild(text2);
//  display.appendChild(lb2);
//  display.appendChild(lb3);
//  display.replaceChild(text1,display.childNodes[0]);
//  display.replaceChild(lb1,display.childNodes[1]);
//  display.replaceChild(text2,display.childNodes[2]);
//  display.replaceChild(lb2,display.childNodes[3]);
//  display.replaceChild(lb3,display.childNodes[4]);
//
//
//  var displayUTC=document.getElementById("clockUTC");
//  displayUTC.appendChild(text3);
//  displayUTC.appendChild(lb4);
//  displayUTC.appendChild(lb5);
//  displayUTC.replaceChild(text3,displayUTC.childNodes[0]);
//  displayUTC.replaceChild(lb4,displayUTC.childNodes[1]);
//  displayUTC.replaceChild(lb5,displayUTC.childNodes[2]);  
  
  
  var displayLMST=document.getElementById("clockLMST");  
//  displayLMST.appendChild(text6);
//  displayLMST.appendChild(lb8);
//  displayLMST.appendChild(text7);
//  displayLMST.replaceChild(text6,displayLMST.childNodes[0]);
//  displayLMST.replaceChild(lb8,displayLMST.childNodes[1]);
//  displayLMST.replaceChild(text7,displayLMST.childNodes[2]);

  displayLMST.appendChild(text4);
  displayLMST.replaceChild(text4,displayLMST.childNodes[0]);

}
</script>

</head>
<body style="background-color:white;" onload="updateClock(); setInterval('updateClock()', 1000 )">

<center>
<div style="width:1024px;height:600px">

<table style="width:99%;margin:auto;margin-top:10px;">
  <tr>
    <td class="resizable-text-left">Now Planning:</td>
    <td class="resizable-text-sol"><span id="planning"></span></td>
  </tr>
  <tr>
    <td class="resizable-text-left">Current Event:</td>
    <td class="resizable-text-right"><span id="current-meeting"></span><br /><span id="countdown-clock-current"></span></td>
  </tr>
  <tr>
    <td class="resizable-text-left">Next Event:</td>
    <td class="resizable-text-right"><span id="next-meeting"></span></td>
  </tr>
  <tr>
    <td class="resizable-text-left">Time To Next Event:</td>
    <td class="resizable-text-right"><span id="countdown-clock"></span></td>
  </tr>
</table>

</div>
</center>

<center>
<table>
  <tr style="background-color:white">
    <td>
      <img src="./Curiosity.png">
    </td>
    <td>
      <span id="clockLMST" style="font-family: Arial; font-weight: Bold; font-size: 350%; color: darkred">&nbsp;</span>
    </td>
  </tr>
</table>
</center>

<script type="text/template" id="planning-template">
   <span style="color: red;"><%= sol %></span>
</script>

<script type="text/template" id="current-meeting-template">
   <span><%= name %></span>
</script>

<script type="text/template" id="next-meeting-template">
   <span><%= name %><br />(<%= start %>)</span>
</script>

<script type="text/template" id="countdown-template">
   <span><%= timeRemainingString %></span>
</script>

<script type="text/template" id="countdown-current-template">
     <span>(ends in <%= timeRemainingString %>)</span>
</script>


<script src="https://mslreports.jpl.nasa.gov/surface/js/jquery.js"></script>
<script src="https://mslreports.jpl.nasa.gov/surface/js/underscore.js"></script>
<script src="https://mslreports.jpl.nasa.gov/surface/js/moment.min.js"></script>
<script src="https://mslreports.jpl.nasa.gov/surface/js/moment-timezone-with-data.min.js"></script>
<script src="https://mslreports.jpl.nasa.gov/surface/js/backbone.js"></script>
<script src="https://mslreports.jpl.nasa.gov/surface/tactical/big_display/js/models/meetings.js"></script>
<script src="https://mslreports.jpl.nasa.gov/surface/tactical/big_display/js/views/meetings.js"></script>

<script src="https://mslreports.jpl.nasa.gov/surface/tactical/big_display/js/fittext/jquery.fittext.js"></script>
<script src="https://mslreports.jpl.nasa.gov/surface/data/surface/143/0/app.js"></script>

<script>
  $(".resizable-text-right").fitText(1.0);
  $(".resizable-text-left").fitText(1.0);
  $(".resizable-text-sol").fitText(0.6);
  BD.start();
</script>
</body>
</html>